<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="bootstrap-3.3.7.css">
    <!-- 需要用到Jquery吗？？？ -->
</head>

<body>
<div id="app">



    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">
            <label>
                Id:
                <input type="text" class="form-control" v-model="id">
            </label>

            <label>
                Name:
                <input type="text" class="form-control" v-model="name" @keyup.enter="add">     <!-- 当enter键抬起触发add方法-->
            </label>

            <!-- 在Vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了 -->
            <input type="button" value="添加" class="btn btn-primary" @click="add()">

            <label>
                搜索名称关键字：
                <input type="text" class="form-control" v-model="keywords" v-focus>   <!--自定义指令调用时要加v-前缀-->
            </label>
        </div>
    </div>



    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ctime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <!-- 之前， v-for 中的数据，都是直接从 data 上的list中直接渲染过来的 -->
        <!-- 现在， 我们自定义了一个 search 方法，同时，把筛选的关键字，通过传参的形式，传递给了 search 方法 -->
        <!-- 在 search 方法内部，通过 执行 for 循环， 把所有符合 搜索关键字的数据，保存到 一个新数组中，返回 -->
        <tr v-for="item in search(keywords)" :key="item.id">   <!--keywords实参，从data中获取数据-->
            <td>{{ item.id }}</td>
            <td v-text="item.name"></td>
            <td>{{ item.ctime|timeFormat}}</td>
            <td>
                <a href="" @click.prevent="del(item.id)">删除</a>  <!--把当前点击删除的item.id作为参数传进去-->
            </td>
        </tr>
        </tbody>
    </table>



</div>
<div id="app2">w
    这是用来测试私有过滤器的
    <!--<h3 v-color="'pink'" v-fontWeight="700"> {{ ctime | timeFormat}} </h3>-->   指令名第2个单词首字母大写会报错
    <h3 v-color="'pink'" v-fontweight="700" v-fontsize="30"> {{ ctime | timeFormat}} </h3>
</div>

<script>
    //自定义全局过滤器
    Vue.filter("timeFormat", function (ctime, pattern = "") {   //除了第一个默认参数外，传入一个带初始值的参数--否则值为undefined，调用toLowerCase()报错
        var dt = new Date(ctime);
        console.log(dt);
        var y = dt.getFullYear(); //得到的是数字类型
        //调用String.prototype.padStart()方法实现时间前缀0的补充
        //padStart() 方法用另一个字符串填充当前字符串(重复，如果需要的话)，以便产生的字符串达到给定的长度。
        //填充从当前字符串的开始(左侧)应用的。
        var m = (dt.getMonth() + 1).toString().padStart(2,"0");
        var d = dt.getDate().toString().padStart(2,"0");
        var hh=dt.getHours().toString().padStart(2,"0");
        var mm=dt.getMinutes().toString().padStart(2,"0");
        var ss=dt.getSeconds().toString().padStart(2,"0");

        // return y+"-"+m+"-"+d;
        if (pattern.toLowerCase()==`yyyy-mm-dd`){           //先统一转小写，再判断
            return `${y}-${m}-${d}`;
        }else{
            return `${y}-${m}-${d} ${hh}:${mm}:${ss}`;
        }

    });
    //自定义全局按键修饰符
    Vue.config.keyCodes.z = 90

    //自定义指令
    //参数1：指令名--定义时不需要加v-前缀;参数2---对象，里面有钩子函数
    // 使用  Vue.directive() 定义全局的指令  v-focus
    // 其中：参数1 ： 指令的名称，注意，在定义的时候，指令的名称前面，不需要加 v- 前缀,
    // 但是： 在调用的时候，必须 在指令名称前 加上 v- 前缀来进行调用
    //  参数2： 是一个对象，这个对象身上，有一些指令相关的函数，这些函数可以在特定的阶段，执行相关的操作
    Vue.directive("focus",{
        bind:function () {  //指令第一次被绑定到元素时调用，只执行一次

        },
        inserted:function (el) { //被绑定元素插入到父节点时调用(仅保证父节点存在，不能保证一定插入到了文档)
            el.focus();
            // 和JS行为有关的操作，最好在 inserted 中去执行，防止JS行为不生效
        },
        updated:function () {   //所在组件的 VNode 更新时调用，但是可能发生在其子 VNode 更新之前。
            
        }
    });
    //自定义指令--改变字体颜色
    // 样式只要通过指令绑定给了元素，不管这个元素有没有被插入到页面中去，这个元素肯定有了一个内联的样式
    // 将来元素肯定会显示到页面中，这时候，浏览器的渲染引擎必然会解析样式，应用给这个元素
    Vue.directive("color",{
        bind:function (el,binding) {
            el.style.color=binding.value;
            // 和样式相关的操作，一般都可以在 bind 执行
        },
        inserted:function (el) {

        },
        updated:function (el) {

        }
    });


    // 创建 Vue 实例，得到 ViewModel
    var vm = new Vue({
        el: '#app',
        data: {
            id:"",
            name:"",
            keywords:"",
            list:[
                {id:1,name:"奔驰",ctime:new Date()},
                {id:2,name:"宝马",ctime:new Date()}
            ]
        },
        methods: {
            add:function () {
                //添加---this自动挂载到当前vue实例上
                this.list.push({id:this.id,name:this.name,ctime:new Date()});
                //清空输入数据
                this.id="";
                this.name="";
            },
            del:function (id) {
                //Array.prototype.findIndex()方法会对每个数组元素执行一次回调函数，知道有一个元素通过函数测试，并返回该元素的索引
                //其回调函数执行时会自动传入下面三个参数:element：当前元素，index：当前元素的索引，array：调用findIndex的数组。
                var index=this.list.findIndex(ele=> {
                    //如果当前元素(对象)的id属性与传入的id相同
                    if (ele.id==id){
                        return true;
                    }
                });
                //利用Array.prototype.splice()方法删除此项
                this.list.splice(index,1);

                //方法二：利用Array.prototype.some()方法
                // this.list.some((ele,i)=>{
                //     //如果当前元素(对象)的id属性与传入的id相同
                //     if (ele.id==id){
                //
                //         this.list.splice(i,1);
                //         return true;
                //     }
                // });
            },
            search:function (kw) {
                //方法一：利用Array.prototype.forEach()方法---对数组中的每一个元素都执行一次提供的函数
                // var newList=[];
                // this.list.forEach(ele=>{
                //    if (ele.name.indexOf(kw)!=-1){
                //        newList.push(ele);
                //    }
                // });
                // return newList;   //必须有返回值，不然search(keywords)值为空

                //方法二：利用Array.prototype.filter()方法--创建一个新数组, 其包含通过所提供函数实现的测试的所有元素。(过滤数组)
                var newList=this.list.filter(ele=>{
                    if (ele.name.includes(kw)){     //String.prototype.includes()用于判断一个字符串是否包含在另一个字符串中，根据情况返回 true 或 false。
                        return ele;
                    }
                });
                return newList; //这个不能少
                //默认没输入时，空字符关键字全匹配
            }

        }
    });
    var vm2=new Vue({
        el:"#app2",
        data:{
            ctime:new Date()
        },
        //定义私有过滤器
        // 过滤器调用的时候，采用的是就近原则，如果私有过滤器和全局过滤器名称一致了，这时候 优先调用私有过滤器
        filters:{       //自定义私有过滤器
            timeFormat:function (ctime, pattern = "") {
                var dt = new Date(ctime);
                console.log(dt);
                var y = dt.getFullYear();
                var m = (dt.getMonth() + 1).toString().padStart(2,"0");
                var d = dt.getDate().toString().padStart(2,"0");
                var hh=dt.getHours().toString().padStart(2,"0");
                var mm=dt.getMinutes().toString().padStart(2,"0");
                var ss=dt.getSeconds().toString().padStart(2,"0");

                // return y+"-"+m+"-"+d;
                if (pattern.toLowerCase()==`yyyy-mm-dd`){           //先统一转小写，再判断
                    return `${y}-${m}-${d}`;
                }else{
                    return `${y}-${m}-${d} ${hh}:${mm}:${ss}~~~~~`;
                }
            }
        },
        directives:{  //自定义私有指令
            "fontweight":{
                bind:function (el,binding) {
                    el.style.fontWeight=binding.value;      //binding.value ---指令的绑定值
                },
            },
            //私有指令简写：值直接写函数，不写包含钩子函数的对象
            //注意：等同于 把 这个 function 同时写到了 bind 和 update 中去
            'fontsize':function (el,binding) {
                el.style.fontSize=parseInt(binding.value)+"px";
            }
        }
    });
</script>
</body>

</html>